.mapper-edit-mode ._jsPlumb_connector {
	cursor: not-allowed;
}

.mapper-edit-mode .edit-panel {
	padding: 4px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	margin-bottom: 1px;
}

.mapper-edit-mode .edit-panel > * {
	margin-right: 4px;
}

.mapper-edit-mode .editing {
	outline: #5d86ff auto 5px;
	box-shadow: 2px 2px 19px #5d86ff;
}

.mapper-edit-mode .container.grid-10px {
	background-image: url("../img/10px-ccc.png");
}

.mapper-edit-mode .container.grid-20px {
	background-image: url("../img/20px-ccc.png");
}
.mapper-edit-mode .editing.node:hover .remove-button{
	visibility: hidden;
}

.mapper-edit-mode .remove-button {
	visibility: hidden;
	position: absolute;
	z-index: 1000;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #efefef;
	background: url(../img/cross1.png) no-repeat 3px 3px;
}

.mapper-edit-mode .node:hover .remove-button {
	visibility: visible;
}

.mapper-edit-mode .remove-button:hover {
	background-color: #b6d4f2;
	font-weight: bold;
	color: #333;
}

.mapper-edit-mode .ui-resizable-e,
.mapper-edit-mode .ui-resizable-s,
.mapper-edit-mode .ui-resizable-se {
	background-color: transparent;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.mapper-edit-mode .node:hover .ui-resizable-e,
.mapper-edit-mode .node:hover .ui-resizable-s {
	background-color: #ddd;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.mapper-edit-mode .node:hover .ui-resizable-se {
	visibility: visible;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.mapper-edit-mode .node .ui-resizable-e:hover,
.mapper-edit-mode .node .ui-resizable-s:hover,
.mapper-edit-mode .node .ui-resizable-se:hover {
	visibility: visible;
	background-color: #b6d4f2;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}