.edit-mode ._jsPlumb_connector {
	cursor: not-allowed;
}

.edit-mode .ui-resizable-e:hover,
.edit-mode .ui-resizable-s:hover,
.edit-mode .ui-resizable-se:hover {
	background-color: #b6d4f2;
}

.edit-mode .editing {
	outline: #5d86ff auto 5px;
	box-shadow: 2px 2px 19px #5d86ff;
}

.edit-mode .container.grid-10px {
	background-image: url("../img/10px-ccc.png");
}

.edit-mode .container.grid-20px {
	background-image: url("../img/20px-ccc.png");
}

.edit-mode .remove-button {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #efefef;
	background: url(../img/cross1.png) no-repeat 3px 3px;
}

.edit-mode .node:hover .remove-button {
	display: block;
}

.edit-mode .remove-button:hover {
	background-color: #b6d4f2;
	font-weight: bold;
	color: #333;
}